$darkBlue: #2a8399;
$darkRed: #cd4f4f;

$red: #ea9595;
$grey: #595959;

$blue: #87cdde;
$green :#bdde87;
$lightBrown:#c8c8b7;
$yellow:#eade7b;


$lightBlue: #b1e4f1;
$black: #010101;
$white: #fefefe;
